<header id="mainheader">
  <nav>
    <ul>
      <li><img src="assets/img/cake.svg" height="55" /></li>
      <li><button (click)="showPage('home')">Home</button></li>
      <li><button (click)="showPage('tous')">Tous</button></li>
    </ul>
  </nav>
</header>

<!-- Affichage du contenu basé sur la page sélectionnée -->
<app-home *ngIf="currentPage === 'home'" (pageChange)="showPage($event)"></app-home>

<app-tous *ngIf="currentPage === 'tous'"></app-tous>

<footer>
  <address>Cake's Shop - Rue de la pâtisserie 216, Tunis, Tunisie</address>
  <small>2024 ENIT - All rights reserved</small>
</footer>
