body {
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('https://mariemzaouali.github.io/assets/img/pattern.png'); /* URL directe */
    background-repeat: no-repeat; /* pour ne pas répéter l'image */
    background-size: cover; /* pour couvrir tout l'arrière-plan */
}
