<div style="width:1000px; margin-left: auto; margin-right: auto;">
    <aside id="leftmenu">
      <img src="assets/img/logo.png" />
      <header>
        <h4 style="text-align: center;">Explorez nos cakes</h4>
      </header>
      <input type="search" class="searchbox" placeholder="Search our store" />
      <ul>
        <li><button>Tous</button></li>
        <li><button>Cheese cakes</button></li>
        <li><button>Tartes</button></li>
        <li><button>Promotions</button></li>
      </ul>
    </aside>
  
    <table border="1">
      <caption>
        Our delicious selection of pies for you to enjoy!
      </caption>
      <thead>
        <tr>
          <th>Image</th>
          <th>Nom de la tarte/Cake</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="assets/img/cheesecakesmall.jpg" width="100" /></td>
          <td>Cheese cake</td>
          <td>Un pur plaisir.</td>
          <td>12Dt</td>
          <td>Voir détails</td>
        </tr>
        <tr>
          <td><img src="assets/img/applepiesmall.jpg" width="100" /></td>
          <td>Apple pie</td>
          <td>Notre tarte de pommes vedette</td>
          <td>14DT</td>
          <td>Voir détails</td>
        </tr>
      </tbody>
    </table>
  
    <section id="promos">
      <h3 style="font-family:verdana;">&nbsp;Nos promotions hebdomadaire</h3>
      <h4>Cheese cake</h4>
      0dt - 4 personnes<br />
      <img src="assets/img/téléchargement.jpeg" width="500" alt="Cheesecake avec caramel" height="300" />
    </section>
  </div>
  